body{
    background-image: url("900 Gradient Background Images Download HD Backgrounds on Unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
#container-1{
    margin-left: 40%;
    margin-top: 60px;
    background-color: white;
    width: max-content;
    border: 1px solid none;
    border-radius: 5px;
    padding: 30px 65px 20px 50px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}
#container-2{
    margin-left: 40%;
    margin-top: 60px;
    background-color: white;
    width: max-content;
    border: 1px solid none;
    border-radius: 5px;
    padding: 30px 50px 20px 50px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

input[type="text"],[type="password"]{
    border: 1px solid white;
}
hr{
    padding-right: 100%;
}
input[type="submit"]{
    background-image: url("900 Gradient Background Images Download HD Backgrounds on Unsplash.jpg");
    background-size: 100%;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 90px 5px 90px;
}
h1{
    text-align: center;
    font-weight: bolder;
}
.base{
    text-align: center;
}
.fpass{
    text-decoration: none;
    float: right;
}
hr{
    height: 3px;
    background-color: tomato;
    border: 0px solid tomato;
}
#user,#pass{
    background-color: crimson;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
}
.apple{
    width: 40px;
}
.fb{
    width: 60px;
    height: 40px;
}
.google{
    width: 40px;
}
.twitter{
    width: 60px;
    height: 40px;
}
#switch{
    font-size: 16px;
    color: rgb(179, 54, 179);
    font-weight: bold;
    border: none;
    background-color:white;
    cursor: pointer;
}
#switch-1{
    font-size: 16px;
    color: rgb(179, 54, 179);
    font-weight: bold;
    border: none;
    background-color:white;
    cursor: pointer;
}
@media only screen and (max-width:1200px){
    body{
        background-size: 120%;
    }
}
@media only screen and (max-width:900px){
    body{
        background-size: 150%;
    }
    #container-1,#container-2{
    margin-left: 35%;
    font-family: cursive;    
    }
}
@media only screen and (max-width:720px){
    #container-1{
        margin-left: 30%;
    }
    body{
        background-size: 170%;
    }
}
@media only screen and (max-width:600px){
    body{
        background-size: 220%;
    }
    #container-1,#container-2{
        font-size: 16px;
        font-family: Helvetica, sans-serif;
        margin-left: 25% ;
        margin-top: 20%;
    }
}

@media only screen and (max-width:480px){
    body{
        background-size: 250%;
    }
    #container-1,#container-2{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 15%;
        margin-top: 50px;
    }
}
@media only screen and (max-width:400px){
    body{
        background-size: 300%;
    }
    #container-1,#container-2{
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 15%;
        margin-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
